* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* commom blocks */
.body__container {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.text-title {
  font-size: 2.6em;
  font-weight: 700;
}
.text-reg {
  line-height: 1.5;
  color: #777;
  letter-spacing: 0.05em;
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.6em;
  margin-bottom: 40px;
}
.section-title:after {
  content: '';
  display: block;
  width: 86px;
  height: 2px;
  margin-top: 20px;
  background: rgb(104, 90, 236);
}
.button {
  border: none;
  background: none;
}
.block--flex {
  flex: 1;
}
.shadow {
  box-shadow: 1px -2px 10px 0px #656060;
}

/* modificators */
.text--letter-spacing--high {
  letter-spacing: 8px;
}
.text--letter-spacing--light {
  letter-spacing: 3px;
}
.text--weight--bold {
  font-weight: 700;
}
.text--weight--light {
  font-weight: 400;
}
.section-title--color--dark {
  color: #000;
}
.section-title--color--light {
  color: rgb(255, 255, 255);
}

/* body */
.body {
  font-family: 'Signika Negative', sans-serif;
  font-size: 14px;
  color: white;
  height: 4000px;
  font-weight: 300;
  padding-top: 44px;
}

/* header */
.header {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  max-height: 848px;
}
.header__container {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

/* menu */

.header__menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}
.menu__link {
  display: block;
  padding: 12px 15px;
  text-align: center;
  position: relative;
}
.menu__link--active {
  border-bottom: 1px solid rgb(104, 90, 236);
}
.menu__link--active:hover:after {
  display: none;
}
.menu__link:after {
  content: '';
  display: block;
  background: rgb(104, 90, 236);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all 0.4s;
  transform: translateX(-50%);
}
.menu__link:hover:after {
  width: 100%;
}

/* logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-stethoscope {
  color: #fff;
  font-size: 33px;
}
.logo__title {
  padding: 10px 0;
}

/* phone */
.header__phone {
  display: block;
}
.phone {
  width: 180px;
  padding: 12px 20px;
}
.phone-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}
.phone--bg-blue {
  background: rgb(126, 163, 241);
}
.phone__img {
  padding-right: 10px;
}

/* credo */
.credos {
  margin-bottom: 80px;
}
.credo {
  text-align: center;
}
.credo__title {
  padding: 20px 0 28px 0;
}
.credo__text {
  padding-bottom: 80px;
}

/* swiper */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #fff;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-pagination-bullet-active {
  background: rgb(126, 163, 241);
}

/* booking */
.booking {
  background: rgba(0, 0, 0, 0.54);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.booking__form {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.booking__title {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 30px;
}
.form {
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding: 35px 35px;
  background: #000;
  margin: 0 10%;
}
.form-booking__item {
  padding: 13px 0px;
  outline: none;
  border: none;
  flex-grow: 1;
}
.form-booking__input {
  padding-left: 10px;
  margin-right: 3px;
}
.form-booking__btn {
  padding: 13px 0px;
  background: rgb(126, 163, 241);
}

/* about us */
.about-us {
  padding: 70px 0;
}
.about-us__wrapper {
  display: flex;
  justify-content: space-between;
}
.about-us__title {
  padding-top: 70px;
  margin-bottom: 50px;
}
.about-us__left-side {
  max-width: 540px;
}
.about-us__img-box {
  overflow: hidden;
}
.about-us__img {
  max-width: 100%;
  transition: all 500ms;
}
.about-us__img:hover {
  transform: scale(1.2);
}
.about-us__text {
  padding-top: 20px;
}
.about-us__right-side {
  max-width: 540px;
}
.about-us__open-hours {
  margin-bottom: 40px;
}
.open-hours {
  display: flex;
}
.open-hours__block {
  flex: 1;
  border: 1px solid #000;
  margin: 0px -1px 0 0;
}
.open-hours__title-block {
  font-size: 1.3em;
  line-height: 1.7;
  font-weight: 500;
  background: rgb(126, 163, 241);
  padding: 42px 0;
}
.open-hours__days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(189, 64, 64);
  transition: all 0.4s;
}
.open-hours__days:hover {
  background: rgb(126, 163, 241);
}
.open-hours__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.open-hours__time {
  color: #000;
  font-weight: 700;
  font-size: 1.3em;
}
.open-hours__pictures {
  display: flex;
}
.pictures__item-left {
  margin-right: 15px;
}

/* what we do */
.what-we-do {
  padding: 70px 0;
  background: rgb(212, 212, 212);
}
.what-we-do__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
.what-we-do__pictures {
  display: flex;
  justify-content: space-between;
}
.what-we-do__picture {
  flex-basis: 540px;
  position: relative;
  overflow: hidden;
}
.what-we-do__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 0 7%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.what-we-do__text {
  padding: 10px 0px;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  transform: translateX(-520px);
}
.what-we-do__text--fast {
  transition: all 0.3s;
}
.what-we-do__text--normal {
  transition: all 0.6s;
}
.what-we-do__text--slow {
  transition: all 0.9s;
}
.what-we-do__picture:hover .what-we-do__text {
  transform: translateX(0px);
}
.what-we-do__picture-item {
  max-width: 100%;
  transition: all 0.8s;
}
.what-we-do__picture:hover .what-we-do__picture-item {
  z-index: -1;
  transform: scale(1.2);
}

/* our services */
.our-services {
  padding: 70px 0;
}
.our-services__features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.our-services__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2%;
}
.our-services__item--last {
  margin-right: 0;
}
.our-services__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #00a0f0;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  font-size: 2.6em;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.our-services__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ee4f4f;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.5s;
}
.our-services__title:after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #00a0f0;
  margin-top: 15px;
  transition: all 0.5s;
}
.our-services__text {
  color: #000;
  line-height: 2;
}
.our-services__item:hover .our-services__pic {
  background-color: #ee4f4f;
}
.our-services__item:hover .our-services__title:after {
  width: 90px;
}
.our-services__item:hover .our-services__title {
  color: #00a0f0;
}

/* parallax */
.parallax {
  background: transparent;
}

/* feedback */
.feedback {
  padding-bottom: 90px;
}
.feedback__container {
  padding-top: 70px;
}
.left-quotes {
  margin-right: 8px;
}
.right-quotes {
  margin-left: 8px;
}
.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__text {
  margin-bottom: 30px;
}

.section-title--after--none:after {
  display: none;
}
.feedback__name {
  display: block;
  color: #ee4f4f;
  font-size: 2em;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 15px;
  padding: 7px 15px;
  margin-bottom: 60px;
}
.feedback__img {
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 0 3px #ffffff;
}
