* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* modificators */
.text-title {
  font-size: 2.6em;
  font-weight: 700;
}
.text--letter-spacing--high {
  letter-spacing: 8px;
}
.text--letter-spacing--light {
  letter-spacing: 3px;
}
.text--weight--bold {
  font-weight: 700;
}
.text--weight--light {
  font-weight: 400;
}
.button {
  border: none;
  background: none;
}
.block--flex{
  flex: 1;
}

/* body */
.body {
  font-family: 'Signika Negative', sans-serif;
  font-size: 16px;
  color: white;
  height: 3000px;
  font-weight: 300;
  padding-top: 44px;
}
.body__container {
  width: 1140px;
  margin: 0 auto;
}

/* header */
.header {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  max-height: 848px;
}
.header__container {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

/* menu */

.header__menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}
.menu__link {
  display: block;
  padding: 12px 15px;
  text-align: center;
  position: relative;
}
.menu__link--active {
  border-bottom: 1px solid rgb(104, 90, 236);
}
.menu__link--active:hover:after {
  display: none;
}
.menu__link:after {
  content: '';
  display: block;
  background: rgb(104, 90, 236);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all 0.4s;
  transform: translateX(-50%);
}
.menu__link:hover:after {
  width: 100%;
}

/* logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-stethoscope {
  color: #fff;
  font-size: 33px;
}
.logo__title {
  padding: 10px 0;
}

/* phone */
.header__phone {
  display: block;
}
.phone {
  width: 175px;
  padding: 12px 20px;
}
.phone-box{
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}
.phone--bg-blue {
  background: rgb(126, 163, 241);
}
.phone__img {
  padding-right: 10px;
}

/* credo */
.credo {
  text-align: center;
}
.credo__title {
  padding: 20px 0 28px 0;
}
.credo__text {
  padding-bottom: 80px;
}

/* swiper */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #fff;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-pagination-bullet-active {
  background: rgb(126, 163, 241);
}
.swiper {
  padding-bottom: 130px;
}

/* booking */
.booking {
  background: rgba(0, 0, 0, 0.54);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.booking__form {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.booking__title {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 30px;
}
.form {
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding: 35px 35px;
  background: #000;
  margin: 0 10%;
}
.form-booking__item {
  padding: 13px 0px;
  outline: none;
  border: none;
  flex-grow: 1;
}
.form-booking__input {
  padding-left: 10px;
}
.form-booking__btn {
  padding: 13px 0px;
  background: rgb(126, 163, 241);
  outline: 1px solid rgb(189, 64, 64);
  outline-offset: -2px;
}
